body{
    width: 1901px;
    max-width: 1901px;
}


#headerHome {
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 45px;
    box-shadow: 0px 0px 40px -18px rgba(0, 0, 0, 0.25);
}

#logo {
    display: flex;
}

#logo h1 {
    font-size: 30px;
}

#logo h2 {
    font-size: 17px;
    color: #FF2253;
    margin-top: 8px;
    margin-left: 5px;
}

#headerFinal {
    display: flex;
    align-items: center;
}

#pesquisaHome {
    width: 312px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background-color: #E9ECEF;
    margin-right: 142px;
}

#imgLogin {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 40px;
    transition: all 0.5s;
    border: 1px solid transparent;
}

#imgLogin:hover {
    border: 1px solid #136497;
    border-radius: 50%;
}

#displayVitrine {
    display: flex;
}

#filtrosDaHome {
    display: flex;
    align-content: center;
    margin-right: 229px;
    margin-top: 50px;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 33px;
}

#templateCards {
    width: 1070px;
}

.layoutButton {
    border-radius: 32px;
    width: 136px;
    height: 48px;
    font-size: 16px;
    background-color: #F3EEF5;
    margin: 14px;
    cursor: pointer;
    border: none;
}

#carrinhoComprasEstatico {
    display: flex;
    width: 320px;
    height: 56px;
    font-size: 16px;
    background-color: #FF2253;
    color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: flex-start;
}

.clickCarrinho {
    /* width: 57px;
    height: 30px; */
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: transparent;
}

#carrinhoComprasEstatico img {
    width: 57px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 53px;
}



#carrinhoDeComprasDinamico li {
    display: flex;
    margin-bottom: 12px;
}

#carrinhoDeComprasDinamico img {
    width: 70px;
    height: 70px;
    border-radius: 9%;
    margin-bottom: 10px;
}
.layoutButton:hover {
    color: white;
    background-color: #FF2253;
}

#containerCarrinho {
    display: flex;
    flex-direction: column;
}


#containerCarrinho button {
    background: #FF2253;
    color: white;
    font-weight: 500;
    height: 27px;
    border-radius: 10px;
    width: 64px;
    cursor: pointer;
    border: none;
}


#carrinhoDeComprasDinamico {
    display: block;
    align-items: center;
    flex-wrap: nowrap;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    width: 320px;
    height: 300px;
    background: #F8F9FA;
    margin-left: 53px;
    box-shadow: 0px 0px 40px -18px rgba(0, 0, 0, 0.25);
}

#quantidade, #totalValor{
    position: relative;
    left: 49px;
    margin: 8px 0px;
    font-size: 20px;
    font-weight: 600;
}


