.startTemplate {
    display: flex;
    width: 1300px;
    flex-wrap: wrap;
}

.liVitrine {
    width: 303px;
    height: 397px;
    margin: 10px;
    margin-bottom: 52px;
    border: 1px solid black;
    border-radius: 10px;
    border-left: none;
    border-top: none;
    padding: 11px;
    margin-right: 30px;
    margin-left: 35px;
}

#imgProduto {
    width: 300px;
    height: 200px;
    margin-bottom: 24px;
    border-radius: 5px;
    cursor: pointer;
}

.liVitrine h3 {
    font-size: 16px;
}

.liVitrine h5 {
    font-size: 14px;
    color: #868E96;
    margin-top: 10px;
    width: 300px;
    height: 96px;
}

.liVitrine span {
    font-size: 12px;
    color: #868E96;
}

#divAlinharPrecoEcarrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#valor {
    color: black;
    font-weight: bold;
}

#pngCarrinho {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.5s;
    border: 1px solid transparent;
}

#pngCarrinho:hover {
    border: 1px solid #136497;
    border-radius: 50%;
}

#menu{
    position: absolute;
    right: 25px;
    top: 60px;
    width: 80px;
    height: 90px;
    background-color: transparent;
}

#menu > li {
    width: 78px;
    height: 25px;
    align-items: center;
    border: 1px solid #03a0cc;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    font-weight:700;
    color: #FFFFFF;
    background-color: #75d8f4;
}

#menu > li:hover{
    cursor: pointer;
    border: 1.5px solid #136497;
}
.menuOff{
    display: none;
}


/* css do modal */

:root {
    --rosa-color: #FF2253;
    --background-cinza: #F8F9FA;
    --letras-cinza: #868E96;
    --background-branco: #FFFFFF;
}



.modal-on{
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}


#quadro{
    Width: 496px;
    Height: 755px;
    margin-top: 53px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#header{
    background-color: var(--background-cinza);
    width: 496px;
    height: 70px;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header > h3{
    margin-left: 28px;
}

#header > button{
    Width: 31px;
    Height: 30px;
    border-radius: 4px;
    border: none;
    color: var(--letras-cinza);
    cursor: pointer;
    margin-right: 28px;
}

#dados{
    width: 496px;
    Height: 685px;
    background-color: var(--background-branco);
    border-radius: 0px 0px 8px 8px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

#dados > input{
    width: 440px;
    height: 52px;
    border: 1.5px solid #DEE2E6;
    border-radius: 12px;
}

#buttons > input{
    Width: 136px;
    Height: 40px;
    color: #868E96;
    cursor: pointer;
    background: #F8F9FA;
    border: 1.5px solid #F8F9FA;
    border-radius: 32px;
}

#dados > button{
    background-color: var(--background-cinza);
    color: #F8F9FA;
    box-sizing: border-box;
    border-radius: 32px;
    width: 440px;
    height: 52px;
    background-color: var(--rosa-color);
    border: none;
    cursor: pointer;
}

#dados > label{
    width: 440px;
    text-align: start;
}



    /*    -----------------    MODAL LOGIN   ---------------   */
#dadosLogin{
    width: 496px;
    Height: 400px;
    background-color: var(--background-branco);
    border-radius: 0px 0px 8px 8px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

#dadosLogin > input{
    width: 440px;
    height: 52px;
    border: 1.5px solid #DEE2E6;
    border-radius: 12px;
}

#dadosLogin > button{
    background-color: var(--background-cinza);
    color: #F8F9FA;
    box-sizing: border-box;
    border-radius: 32px;
    width: 440px;
    height: 52px;
    background-color: var(--rosa-color);
    border: none;
    cursor: pointer;
}

#dadosLogin > label{
    width: 440px;
    text-align: start;
}
#buttonLogar{
    margin-top: 20px;
}

#textoLogin{
    margin-top: 10px;
}
#msgErro{
    color: red;
}
#labelSenha, #labelEmail{
    margin-top: 30px;
}


/*    -----------------    MODAL CADASTRO   ---------------   */
#dadosCadastro{
    width: 496px;
    Height: 400px;
    background-color: var(--background-branco);
    border-radius: 0px 0px 8px 8px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

#dadosCadastro > input{
    width: 440px;
    height: 52px;
    border: 1.5px solid #DEE2E6;
    border-radius: 12px;
}

#dadosCadastro > button{
    background-color: var(--background-cinza);
    color: #F8F9FA;
    box-sizing: border-box;
    border-radius: 32px;
    width: 440px;
    height: 52px;
    background-color: var(--rosa-color);
    border: none;
    cursor: pointer;
}


#dadosCadastro > label{
    width: 440px;
    text-align: start;
}


#msgErroCadastro{
    color: red;
    margin-bottom: 5px;
}

#labelSenhaCadastro, #labelEmailCadastro, #labelNomeCadastro, #criarCadastro{
    margin-top: 20px;
}

.modal-off{
    display: none;
}